html, body {
  font:normal 12px verdana;
  margin:0;
  padding:0;
  border:0 none;
  overflow:hidden;
  height:100%;
}
p {
  margin:5px;
}
.opencop_logo { 
  background-image: url(/opencop/images/OpenCOP_logo_16.png); 
  width: 84 !important;
  height: 16;
  background-repeat: no-repeat !important; 
}
.geocent_logo { background-image: url(/opencop/images/geocent_logo_16.png) !important; background-repeat: no-repeat; }
.olControlPanPanel div {
    background-image:url(/opencop/images/geoexplorer/tool-sprites.gif);
    height:15px;
    width:15px;
    /* workaround for button height in IE */
    font-size:0px;
}

.olControlPanPanel .olControlPanEastItemInactive {
    background-position: 15px -120px !important;
    left: 30px !important;
    top: 16px !important;
}

/* Pan- and Zoom- Panel Styles*/

.olControlPanPanel div {
    background-image:url(/opencop/images/geoexplorer/tool-sprites.gif);
    height:15px;
    width:15px;
    /* workaround for button height in IE */
    font-size:0px;
}

.olControlPanPanel .olControlPanNorthItemInactive {
    background-position:15px -60px;
    left:16px
}
.olControlPanPanel .olControlPanEastItemInactive {
    background-position:15px -120px;
    left: 30px;
    top: 16px;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    background-position:15px -75px;
    left: 16px;
    top: 32px;
}
.olControlPanPanel .olControlPanWestItemInactive {
    background-position:15px -105px;
    left: 2px;
    top: 16px;
}

.olControlZoomPanel { 
    left:21px;
}

.olControlZoomPanel div {
    background-image:url(../../externals/ext/resources/images/gray/panel/tool-sprites.gif);
    height:15px;
    width:15px;
    /* workaround for button height in IE */
    font-size:0px;
}

.olControlZoomPanel .olControlZoomInItemInactive {
    background-position:15px -240px;
}

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    display: none;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
    background-position:15px -255px;
    top: 123px;
}

.olControlScaleLine {
    font-family: tahoma,arial,helvetica,sans-serif;
}

.olControlAttribution {
    bottom: 5px;
    font-size: 10px;
    left: 10px;
    right: inherit;
}

/* position the zoom slider within map panel */
.gx-zoomslider {
    top: 90px;
    left: 17px
}


